<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>일아쌰이마쎄</title>
    <base href="/" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/adminOrder.css" />
    <link rel="stylesheet" href="/css/userOrderList.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/sign.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/itemregister.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/css/mypage.css" />
    <link rel="stylesheet" href="/css/item.css" />
    <link rel="stylesheet" href="/css/iteminfo.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <main>
      <%- include("components/header") %> <% if (pageName === '') { %> <%-
      include("main.ejs") %> <% } %>

      <!-- itme -->
      <% if (pageName === 'itemDetail') { %> <%- include("item/iteminfo.ejs") %>
      <% } %> <% if (pageName === 'office') { %> <%- include("item/office.ejs")
      %> <% } %> <% if (pageName === 'design') { %> <%-
      include("item/design.ejs") %> <% } %> <% if (pageName === 'developer') {
      %> <%- include("item/developer.ejs") %> <% } %> <% if (pageName ===
      'music') { %> <%- include("item/music.ejs") %> <% } %> <% if (pageName ===
      'sports') { %> <%- include("item/sports.ejs") %> <% } %>

      <!-- login -->
      <% if (pageName==="login" ) { %> <%- include("components/login") %> <% }
      %> <% if (pageName === "signup") { %> <%- include("components/signup") %>
      <% } %>

      <!-- signup -->
      <% if (pageName==="signup" ) { %> <%- include("components/signup") %> <% }
      %> <% if (pageName === "signup") { %> <%- include("components/signup") %>
      <% } %>

      <!-- logout -->
      <% if (pageName==="logout" ) { %> <%- include("components/logout") %> <% }
      %> 

      <!-- admin -->

      <% if (pageName==="adminOrder" ) { %><!---->
      <!---->
      <%- include("admin/adminOrder") %> <% } else if (pageName==="adminItem" )
      { %>
      <!---->
      <%- include("admin/adminItem") %> <% } else if (pageName==="adminMember" )
      { %>
      <!---->
      <%- include("admin/adminMember") %> <% } else if (pageName==="adminSales"
      ) { %>
      <!---->
      <%- include("admin/adminSales") %> <% } else if (pageName==="itemregister"
      ) { %>
      <!---->
      <%- include("admin/itemregister") %> <% } else if (pageName==="itemstatus"
      ) { %>
      <!---->
      <%- include("admin/itemstatus") %> <% } else if (pageName==="itemdetail" )
      { %>
      <!---->
      <%- include("admin/itemdetail") %>
      <!--user-->
      <% } else if (pageName === "userorderlist") {%><!---->
      <%- include("user/userOrderList") %><!---->
      <% } else if (pageName === "usercartlist") {%><!---->
      <%- include("user/userWishList") %><!---->
      <% } %><!---->

      <!-- chat -->
      <% if (pageName==="chat" ) { %> <%- include("components/chat") %> <% } %>
    </main>
  </body>
</html>
